<div class="login-container">
    <h2 class="login-title">Iniciar sesión</h2>
    <form action="/login" method="POST" class="login-form">
        <div class="form-group">
            <label for="email" class="form-label">Email:</label>
            <input type="email" id="email" name="email" required class="form-input">
        </div>
        <div class="form-group">
            <label for="password" class="form-label">Contraseña:</label>
            <input type="password" id="password" name="password" required class="form-input">
        </div>
        <button type="submit" class="login-button">Iniciar sesión</button>
    </form>
    <div class="github-container">
        <a href="/github">
            <button type="button" class="github-login">
                <i class="fab fa-github"></i> Login with GitHub
            </button>
        </a>
    </div>
    <p class="register-link">¿Todavía no tienes una cuenta? <a href="/register" class="register-link">Regístrate
            Aquí</a></p>
</div>